

// Main container of the cards of the characters
._characters-main-container{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 700px){
    ._characters-main-container{
        padding: 100px 10px;
    }
}


