
// Variables
$nav_black: #2B3035;
$rick_card: #3C3E43;
$name_hover: #FF9800;
$navbar_navigation: #42A5F5;


// Roboto Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
// Poppins Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;700&display=swap');


// Components
@import './components/navbar.scss';
@import './components/characters.scss';
@import './components/characters-cards.scss';
@import './components/search-cards.scss';
@import './components/navbarResponsive.scss';


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

